<div class="flex-nav">
    <div routerLink="/dashboard">Admin</div>
    <div routerLink="/dashboard" routerLinkActive="active-nav">Home</div>
    <div routerLink="/twentyday" routerLinkActive="active-nav">20 Day Challenge</div>
    <div routerLink="/devodash" routerLinkActive="active-nav">Daily Devos</div>
    <div class="welcome">welcome,<br>NAME</div>
    <div class="logout">logout</div>
</div>

<div class="small-nav">
    <span>20 Day Challenge</span>
    <i class="material-icons md-36" (click)="toggleNav()">menu</i>
</div>
 
<router-outlet></router-outlet>