<input type="checkbox" id="menuToggle">
<label for="menuToggle" class="menu-icon">&#9776;</label>

<div class="flex-nav">
    <div routerLink="/dashboard" routerLinkActive="active-nav">Admin</div>
    <div routerLink="/dashboard" routerLinkActive="active-nav">Home</div>
    <div routerLink="/twentyday" routerLinkActive="active-nav">20 Day Challenge</div>
    <div routerLink="/devodash" routerLinkActive="active-nav">Daily Devos</div>
    <div class="welcome">welcome,<br>NAME</div>
    <div class="logout">logout</div>
</div>

<div id="head">20 Day Challenge</div>

<router-outlet></router-outlet>