.flex-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.flex-cards div {
  cursor: pointer;
  flex: 0 1 auto;
  background-color: white;
  border-radius: .35em;
  margin: 1em 1em;
  padding: 1em 1.5em;
  width: 20em;
  height: 20em;
}