#back {
  color: #4a4a4a;
  font-size: 1.1em; /* triall size */
  cursor: pointer;
}

.card {
  background-color: white;
  border-radius: .25em;
  margin: 1em 0em;
  padding: 1em 1.5em;
}
/* ------------------------------ day grid -------------------------- */
#grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto auto;
}
#grid-item {
  background-color: #F0F0F0;
  border-radius: 5px;
  padding: 1px 1px; /* size of squares */
  font-size: 30px;
  text-align: center;
}
/* ----------------------------- end  day grid ----------------------------------------*/
