#back {
  display: flex;
  align-items: center;
  color: #4a4a4a;
  font-size: 1.1em; /* trial size */
  cursor: pointer;
}

.card {
  background-color: white;
  border-radius: .35em;
  margin: 1em 0em;
  padding: 1em 1.5em;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin-left: -.5em;
}
.flex-item {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: .25em;
  margin: .25em;
  font-size: 2em;
}
.completed {
  background-color: #991B1E;
  color: white;
}