#back {
  background-color: grey;
  border-radius: 0.5em;
  font-size: 1.3em; /* triall size */
  cursor: pointer;

}
/* ------------------------------ day grid -------------------------- */
#grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto auto;
  background-color: black;
}
#grid-item {
  background-color: grey;
  border-radius: 5px;
  padding: 1px 1px; /* size of squares */
  font-size: 30px;
  text-align: center;
}
/* ----------------------------- end  day grid ----------------------------------------*/
