/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.users li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.users li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.users .text {
  position: relative;
  top: -3px;
}
.users .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.badge {
  cursor: pointer;
}

/* ----------------- user table styles -----------------------*/
table {
  border-collapse: collapse;
  width: 100%
}

th,
td {
  border-bottom: 0.0625em solid #cecfd5;
  padding: 0.624em 0.938em;
}

tfoot tr:last-child td {
  border-bottom: 0;
}

tr{
  background-color: orange;
}
table tr:nth-child(odd) {
  background-color: grey;
}
table tr:nth-child(even) {
  background-color:pink;
}

#active{
  display: none;
}
 /*---------------------------------- end table styles ------------------*/

/* 542 */
@media screen and (min-width: 27.375em) {
 #active{
   display: table-cell;
 }

}
