/* ----------------- user table styles -----------------------*/
table {
  border-collapse: collapse;
  border-radius: 15px;
  width: 100%;
  margin-top: .5em;
}
th {
  color: white;
  background-color: #4A4A4A;
  text-align: left;
  font-size: 1.1em;
  padding: 0.624em 0.938em;
}
tr:hover {
  background-color: #D1D1D1!important;
}
table tr:last-child {
  border-radius: 1em!important;
}
tfoot tr:last-child td {
  border-bottom: 0;
  border-radius: 10%;
}

table tr:nth-child(odd) {
  background-color: #EAEAEA; 
}
table tr:nth-child(even) {
  background-color:white;
}

td {
  padding: 0.624em 0.938em;
  cursor: pointer;
}
#active{
  display: none;
}
/* progress {
  appearance: none;
  width: 90%;
  background: black!important;
} */

/* 542 */
@media screen and (min-width: 27.375em) {
  #active{
   display: table-cell;
 }
}
